settings.js
lets-chat/node_modules
lets-chat/bower_components
lets-chat/npm-debug.log
lets-chat/.DS_Store
lets-chat/.idea
*._
*.sw[opqr]
*.swap
.*.swp
*humbs.db
*.key
*.pem
*.crt
*.csr
mongo_db_docker